#bills-container, #coins-container {
    display: flex;
    gap: 10px;
}

#bills-container img, #coins-container img {
    width: 100px;
    cursor: pointer;
    border: 2px solid transparent;
}

#bills-container img:hover, #coins-container img:hover {
    border-color: green;
}

.response {
    background-color: rgb(0, 0, 0);
    padding: 10px 10px 1px 10px;
}
#response{
    color: #fff;
}